<div class="form_description">
    <div class=appnitro>
    <div class="form_description">
        <h2>Smart Irrigation</h2>
        <h3>Datos de la ultima lectura</h3>
        <div class="label">Fecha de lectura: </div>
        <div class="lectura">{{lastRead}}</div><br><br>
        <div class="label">Sensor 1: </div>
        <div class="lectura">{{s1}}</div><br><br>
        <div class="label">Sensor 2: </div>
        <div class="lectura">{{s2}}</div><br><br>
        <div class="label">Sensor 3: </div>
        <div class="lectura">{{s3}}</div><br><br>
        <div class="label">Sensor 4: </div>
        <div class="lectura">{{s4}}</div><br><br>
        <div class="label">Media:  </div>
        <div class="lectura">{{average}}</div><br><br>
        <div class="label">Valor minimo para regar: </div>
        <div class="lectura">{{minValue}}</div><br><br>
        <div class="label">Proxima lectura: </div>
        <div class="lectura">{{nextRead }}</div><br><br>
        <div class="label">Ultimo riego: </div>
        <div class="lectura">{{lastIrrigation}}</div><br><br>
        <div class="label">Status: </div>
        <div class="lectura">{{status}}</div><br><br>
        <div class="label">Notes: </div>
        <div class="lectura">{{notes}}</div><br><br>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"><button class="button_text" (click)="forceIrrigation()">Force {{minutes}} irrigation</button></div>
        <br>
        <div class="col-4"><button class="button_text" (click)="forceRead()">Force Read</button></div>
    </div>
</div>